/* Note Component */
.interbooking-note {
  background: var(--color-bg-dark);
  padding: 32px;
  border-radius: 4px;
}

.interbooking-note h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.interbooking-note ul {
  list-style: none;
}

.interbooking-note li {
  font-size: 14px;
  color: var(--color-text-light);
  padding-left: 1.5em;
  position: relative;
  margin-bottom: 8px;
}

.interbooking-note li::before {
  content: "ãƒ»";
  position: absolute;
  left: 0;
}

.interbooking-note li:last-child {
  margin-bottom: 0;
}
